<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Notepad">
  <meta name="theme-color" content="#edeef0">
  <title>{{id}} · notepad</title>
  <link rel="stylesheet" href="./style/main.css">
  <link rel="manifest" href="./manifest.json">
  <!--<link rel="apple-touch-icon" href="images/icons/icon-152x152.png">-->
  <!--<link rel="icon" sizes="192x192" href="nice-highres.png">-->
  <script>
    window.__id = '{{id}}'
  </script>
  <script src='./vendor/socket.io-1.4.5.js' defer></script>
  <script src='./script/main.js' defer></script>
</head>

<body>
  <main>
    <header>
      <small id="save-status">saving</small>
      <small id="network-status"></small>
    </header>
    <section>
      <div class="layer">
        <div class="layer">
          <div class="layer">
            <textarea name="editor" id="editor">{{note}}</textarea>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <small><a id='this-page' class='this-page'></a></small>
    </footer>
  </main>
</body>

</html>