html,
body {
  background: url('../image/bg.png') left top repeat;
  background-color: rgb(237, 238, 240);
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'PingFangSC',
    'Roboto', 'Hiragino Sans GB', 'Helvetica Neue', 'Arial', 'STHeiti',
    'Microsoft YaHei', 'Microsoft JhengHei', 'Source Han Sans SC',
    'Noto Sans CJK SC', 'Source Han Sans CN', 'Noto Sans SC',
    'Source Han Sans TC', 'Noto Sans CJK TC', 'WenQuanYi Micro Hei', SimSun,
    sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100%;
  max-width: 66em;
}

section {
  display: flex;
  flex-grow: 1;
  margin: 7px;
}

.layer {
  display: flex;
  flex-grow: 1;
  margin: -3px -3px 1px -3px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 5px 0px #e4e4e4;
}

section > .layer {
  box-shadow: 0px 0px 1px 0px #a9a9a9;
}

header {
  display: flex;
  height: 4em;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}

@media (max-width: 700px) {
  header {
    height: 2em;
  }
}

#save-status {
  color: #84878c;
  opacity: 0;
  transition: opacity 0.5s;
}

#save-status.show {
  opacity: 1;
}

#network-status {
  color: orangered;
}

#editor {
  display: flex;
  flex-grow: 1;
  border-radius: 3px;
  resize: none;
  border: none;
  padding: 1em 1.5em;
  color: #333;
  line-height: 1.5;
  font-size: 1.1em;
  font-family: monospace;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 700px) {
  #editor {
    padding: 1em 1em;
  }
}

footer {
  display: flex;
  height: 6em;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 700px) {
  footer {
    height: 2em;
  }
}

a.this-page,
a.this-page:visited {
  color: #9ba0a5;
  text-decoration: none;
}

a.this-page:hover,
a.this-page:active {
  color: #84878c;
}

small {
  font-size: 0.9em;
  margin-left: 0.5em;
}
